{% extends 'bootstrap/base.html' %}

<!--
We're using 3 bootstrap blocks here...
1) title
2) navbar
3) content
 -->

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('explore') }}">Explore</a>
      {% if current_user.is_anonynous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Logout</a>
      <!-- the second argument in url_for() below fills the <username> tag in:
      @app.routes('/user/<username>')-->
      <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
      {% endif %}
      <a href="{{ url_for('break_app')}}">Break</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
